<h1>Edit SuperHeroe</h1>

<div class="row">
    <div class="col-md-5">

        <input name="Title" type="text" class="form-control" placeholder="Introduce nombre" id="Id" value="{{_id}}" style="display:none">
        <div class="form-group">
            <label for="Title">Nombre del SuperHeroe</label>
            <input name="Title" type="text" class="form-control" placeholder="Introduce nombre" id="Title" value="{{_name}}">
        </div>
        <div class="form-group">
            <label for="Imagen">Imagen</label>
            <input name="Image" type="text" class="form-control" placeholder="Introduce la url de la Foto" id="Imagen" value="{{_photo}}">
        </div>
        <a href="/" class="btn btn-default">Cancel</a>
        <input type="button" class="btn btn-primary" id="btnEditSuperHeroes" value="Save" />
         
      


    </div>
</div>

