    {{#.}}
        <div class="divCompartiMOSSAuthor">
            <div class="divPicture">
                <a  title="{{_name}}" name="{{_id}}" id="{{_id}}">
                    <img src="{{_photo}}" class="cbs-largePictureImg" alt="{{_name}}">
                </a>
            </div>
            <div class="divOverlay" style="top: 205px;">
                <a class="linkOverlay"  title="{{_name}}">
                    <h2 class="ms-noWrap"> {{_name}}</h2>
                </a>
            </div>
        </div>
    {{/.}}
